* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.wrapper {
  width: 1024px;
  margin: auto;
}

img {
  height: 200px;
  width: auto;
  object-fit: contain;
}

.grey {
  background-color: #f9f9f9;
}

.grey:last-of-type img {
  background-color: rgb(66, 139, 202);
  border-radius: 50%;
  padding: 30px;
  margin-top: 30px;
}

#why > *:not(:first-child) {
  border-bottom: 1px solid grey;
}


[class*="col-"] >*:not(h1) {
    padding: 10px 0;
}


/* .img-container {
  background-color: rgb(66, 139, 202);
  height: 150px;
  
} */